.form {
  width: 400px;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  margin: 0 0 15px;
  font-family: Labgrotesque, sans-serif;
  color: #fff;

  @media screen and (max-width: 479px) {
    & {
      width: auto;
      grid-row-gap: 0.5rem;
      grid-template-columns: 2fr;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

.input {
  width: 100%;
  height: auto;
  font-family: Labgrotesque, sans-serif;
  color: rgba(51, 51, 51, .74);
  background-color: #fff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
  margin: 0;

  @media screen and (max-width: 767px) {
    & {
      padding: 10px 12px;
    }
  }
}

.button {
  width: auto;
  color: #fff;
  object-fit: none;
  background-color: #282828;
  flex-direction: row;
  justify-content: center;
  padding: 10px 16px;
  font-weight: 400;
  display: block;
  border: 1px solid #fff;
  font-family: Labgrotesque, sans-serif;;
  text-align: center;
  border-radius: 200px;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  transition: color .2s, border-color .3s, background-color .3s;
  cursor: pointer;

  &:hover {
    border-color: #000;
    color: #344054;
    background-color: #fff;
  }
}

.agreement {
  font-family: Labgrotesque, sans-serif;
  color: #fff;
  text-align: left;
  justify-content: center;
  font-size: 12px;
  display: flex;
  grid-area: span 1 / span 2 / span 1 / span 2;

  @media screen and (max-width: 479px) {
    & {
      grid-column: span 1 / span 1;
    }
  }
}

.link {
  padding-left: 4px;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}


